* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
    overflow: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

nav a {
    position: relative;
    text-decoration: none;
    color: black;
    padding: 0 1.5rem;
}

nav a:hover {
    background-color: black;
    color: white;
}

.nav-items {
    float: left;
    display: flex;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.column {
    float: left;
    width: 50%;
    padding: 15px;
    text-align: center;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/seamless-notebook-paper-texture.jpg);
    background-size: 800px;
    max-width: 75%;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    margin-bottom: 20px;
}

.link-container {
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/seamless-notebook-paper-texture.jpg);
    background-size: 800px;
    max-width: 75%;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    margin-bottom: 20px;
}

.link-container a {
    color:black;
    position:relative;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.footer {
    background-color: lightgray;
    text-align: center;
    padding: 0 2rem;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
}

.footer img{
    object-fit: cover;
    float: left;
    width: 80px;
    height: 80px;
}

iframe {
    width: 100%;
    overflow: hidden;
    border: none;
}